<%= form_for @ogsong do |f| %>
  <% if @ogsong.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@ogsong.errors.count, "error")} prohibited this ogsong from being saved:" %>
      </h2>
      <ul>
        <% @ogsong.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Form fields to input data entry %>
  <%# title of the original song %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
    <%# artist of the original song %>
  <div class="field">
    <%= f.label :artist %>
    <%= f.text_field :artist%>
  </div>
    <%# lyrics of the original song %>
  <div class="field">
    <%= f.label :lyrics %>
    <%= f.text_area :lyrics %>
  </div>
  <div class="actions">
      <%# Save button %>
<%= submit_tag("Save", { :name => 'save', :id => 'save', :type => 'save', :class => 'btn btn-success'}) %>
  </div>
    <%# Clears the form fields %>
  <div id = "reset">
    <%= submit_tag("Reset", { :name => 'reset', :id => 'reset', :type => 'reset', :class => 'btn btn-default'}) %>
  </div>
<% end %>
