<%= form_for @producer do |f| %>
  <% if @producer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@producer.errors.count, "error")} prohibited this producer from being saved:" %>
      </h2>
      <ul>
        <% @producer.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Form fields to input data entry %>
  <%# title of the producers %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%# email of the producer %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <%# telephone of the producer %>
  <div class="field">
    <%= f.label :telephone %>
    <%= f.text_field :telephone %>
  </div>
  <%# Save button %>
  <div class="actions">
<%= submit_tag("Save", { :name => 'save', :id => 'save', :type => 'save', :class => 'btn btn-success'}) %>
  </div>
      <%# Clears the form fields %>
  <div id = "reset">
    <%= submit_tag("Reset", { :name => 'reset', :id => 'reset', :type => 'reset', :class => 'btn btn-default'}) %>
  </div>

<% end %>
